---
// Check whether the user is logged in using firebase
import { auth } from "@/firebase/config";
if (!auth.currentUser || auth.currentUser.isAnonymous) {
  // If the user is logged in, redirect to the dashboard
  return Astro.redirect("/");
}
const { displayName, email } = auth.currentUser;
import Logout from "@/components/Authentication.astro";
---

<body>
  <main>
    <Logout />
    <h1>Account</h1>
    <p>Welcome, {displayName || email}!</p>
  </main>
</body>
