---
// Missing remove the default values form input fields
import { auth } from "@/firebase/config";
if (auth.currentUser && !auth.currentUser.isAnonymous) {
  return Astro.redirect("/");
}
---

<body>
  <main>
    <h1>Login</h1>
    <form action="api/login.json" method="post" id="loginForm">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        placeholder="Email"
        value="admin@test.com"
        required
      />
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        placeholder="Password"
        value="admin@test.com"
        required
      />
      <button type="button">Register</button>
      <p id="error" style="display:none;"></p>
    </form>
  </main>
</body>
<script>
  import Axios from "axios";
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.querySelector("form");
    document.querySelector("button").addEventListener("click", async () => {
      if (form.checkValidity() === false) {
        form.reportValidity();
        return;
      }
      const formData = new FormData(form);
      const response = await Axios.post(form.action, formData);
      const data = response.data;
      if (!data || data.error) {
        if (data?.error?.field) {
          const errorField = document.querySelector(
            `[name="${data.error.field}"]`
          );
          const inputField = errorField as HTMLInputElement;
          inputField.setCustomValidity(data?.error?.message || "Invalid input");
          inputField.reportValidity();
          errorField.addEventListener("input", () => {
            inputField.setCustomValidity("");
            inputField?.removeEventListener("input", () => {});
          });
          return;
        }
        alert(
          data?.error?.message ||
            "An unexpected error has occurred, please retry later"
        );
        return;
      }
      alert("User logged in successfully");
      window.location.href = "/account";
    });
  });
</script>
<style>
  main h1 {
    text-align: center;
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  label {
    font-weight: bold;
  }
  input {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
  }
  button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  button:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }
</style>
