---
import { auth } from "@/firebase/config";
const { currentUser } = auth;
const isAnonymous = currentUser?.isAnonymous;
import { LogoutForm } from "@/components/react/LogoutForm";
---

{
  ((currentUser && isAnonymous) || !currentUser) && (
    <>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>
    </>
  )
}
{
  currentUser && !isAnonymous && (
    <>
      <li>
        <a href="/account">Account</a>
      </li>
      <LogoutForm client:visible />
    </>
  )
}
---
