---
import { auth } from "@/firebase/config";
const { currentUser } = auth;
const isAnonymous = currentUser?.isAnonymous;
import { LogoutForm } from "@/components/react/LogoutForm";
---

{
  ((currentUser && isAnonymous) || !currentUser) && (
    <>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>
    </>
  )
}
{
  currentUser && !isAnonymous && (
    <>
      <li>
        <a href="/account">Account</a>
      </li>
      <li>
        <a href="/api/auth/logout.json">Logout</a>
      </li>
    </>
  )
}
<li>
  <a href="/cart">
    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="#fff"
      ><path
        d="M5.53,5,5,3H1.25a1,1,0,0,0,0,2H3.47L6.7,18H20V16H8.26l-.33-1.34L21,12.17V5ZM19,10.52,7.45,12.71,6,7H19ZM7,19a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,7,19Zm12,0a1.5,1.5,0,1,0,1.5,1.5A1.5,1.5,0,0,0,19,19Z"
      ></path></svg
    ></a
  >
</li>
